<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.business.admin.mapper.ActivityMapper">

    <resultMap id="baseMap" type="com.example.demo.business.admin.entity.Activity">
        <id column="ID" property="id"/>
        <result column="TITLE" property="title"/>
        <result column="SUMMARY" property="summary"/>
        <result column="CONTENT" property="content"/>
        <result column="START_TIME" property="startTime"/>
        <result column="END_TIME" property="endTime"/>
        <result column="SPONSOR_ID" property="sponsorId"/>
        <result column="ACTIVITY_IMG" property="activityImg"/>
        <result column="IS_DELETE" property="isDelete"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="STATUS" property="status"/>
    </resultMap>
    <insert id="save" parameterType="com.example.demo.business.admin.entity.Activity">
        insert into activity(
        ID,
        TITLE,
        SUMMARY,
        CONTENT,
        START_TIME,
        END_TIME,
        SPONSOR_ID,
        ACTIVITY_IMG,
        IS_DELETE,
        CREATE_TIME,
        UPDATE_TIME,
        STATUS,
        CLUB_ID
        )
        values (
            #{id},
            #{title},
            #{summary},
            #{content},
            #{startTime},
            #{endTime},
            #{sponsorId},
            #{activityImg},
            #{isDelete},
            #{createTime},
            #{updateTime},
            #{status},
            #{clubId})
    </insert>

    <!--    <update id="updateActivity">-->
    <!--        update activity-->
    <!--        set-->
    <!--        activity_name = #{activityName},-->
    <!--        activity_desc = #{activityDesc},-->
    <!--        activity_content = #{activityContent},-->
    <!--        start_time = #{start_time},-->
    <!--        end_time = #{end_time},-->
    <!--        activity_creator = #{activityCreator},-->
    <!--        activity_img = #{activityImg},-->
    <!--        is_deleted = #{isDeleted},-->
    <!--        created_time = #{createdTime},-->
    <!--        updated_time = #{updatedTime}-->
    <!--        where id = #{id}-->
    <!--    </update>-->

    <delete id="remove">
        delete from activity where ID = #{id}
    </delete>
    <select id="getActivityList" resultMap="baseMap">
        select *from `activity` where IS_DELETE = 0
        <if test="clubId != null">
            and CLUB_ID = #{clubId}
        </if>
        <if test="sponsorId != null">
            and SPONSOR_ID = #{sponsorId}
        </if>
        <if test="status != 0">
            and STATUS = #{status}
        </if>
    </select>


</mapper>