<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.business.admin.mapper.ActivityMapper">

    <resultMap id="baseMap" type="com.example.demo.business.admin.entity.Activity">
        <id column="ID" property="id"/>
        <result column="TITLE" property="title"/>
        <result column="SUMMARY" property="summary"/>
        <result column="CONTENT" property="content"/>
        <result column="START_TIME" property="startTime"/>
        <result column="END_TIME" property="endTime"/>
        <result column="SPONSOR_ID" property="sponsorId"/>
        <result column="ACTIVITY_IMG" property="activityImg"/>
        <result column="IS_DELETE" property="isDelete"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="STATUS" property="status"/>
        <result column="VIEW_COUNT" property="viewCount"/>
        <result column="JOIN_COUNT" property="joinCount"/>
        <result column="CLUB_ID" property="clubId"/>

    </resultMap>
    <insert id="save" parameterType="com.example.demo.business.admin.entity.Activity">
        insert into activity(
        ID,
        TITLE,
        SUMMARY,
        CONTENT,
        START_TIME,
        END_TIME,
        SPONSOR_ID,
        ACTIVITY_IMG,
        IS_DELETE,
        CREATE_TIME,
        UPDATE_TIME,
        STATUS,
        CLUB_ID,
        VIEW_COUNT,
        JOIN_COUNT
        )
        values (
            #{id},
            #{title},
            #{summary},
            #{content},
            #{startTime},
            #{endTime},
            #{sponsorId},
            #{activityImg},
            #{isDelete},
            #{createTime},
            #{updateTime},
            #{status},
            #{clubId},
            #{viewCount},
            #{joinCount})
    </insert>

        <update id="update">
            update activity
            set
            <if test="title != null">
                TITLE = #{title},
            </if>
            <if test="summary != null">
                SUMMARY = #{summary},
            </if>
            <if test="content">
                CONTENT = #{content},
            </if>
            <if test="startTime != null">
                START_TIME = #{startTime},
            </if>
            <if test="endTime != null">
                END_TIME = #{endTime},
            </if>
            <if test="sponsorId != null">
                SPONSOR_ID = #{sponsorId},
            </if>
            <if test="activityImg != null">
                ACTIVITY_IMG = #{activityImg},
            </if>
            <if test="isDelete != null">
                IS_DELETE = #{isDelete},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
            <if test="status != null">
                STATUS = #{status},
            </if>
            <if test="clubId != null">
                CLUB_ID = #{clubId},
            </if>
            <if test="viewCount != null">
                VIEW_COUNT = #{viewCount},
            </if>
            <if test="joinCount != null">
                JOIN_COUNT = #{joinCount}
            </if>
            UPDATE_TIME = now(),
            where ID = #{id}
        </update>
    <update id="updateViewCountById">
        update activity set VIEW_COUNT = VIEW_COUNT + 1 where ID = #{id}
    </update>

    <delete id="remove">
        delete from activity where ID = #{id}
    </delete>
    <select id="getActivityList" resultMap="baseMap">
        select *from `activity` where IS_DELETE = 0
        <if test="clubId != null">
            and CLUB_ID = #{clubId}
        </if>
        <if test="sponsorId != null">
            and SPONSOR_ID = #{sponsorId}
        </if>
        <if test="status != 0">
            and STATUS = #{status}
        </if>
        ORDER BY UPDATE_TIME desc
    </select>
    <select id="findByClubId"
    resultMap="baseMap">
        select * from activity where 1 = 1
        <if test="clubId != null">
        and  CLUB_ID = #{clubId}
        </if>
        and STATUS = 1
        and END_TIME >= now()
    </select>


</mapper>