<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.business.admin.mapper.AdminMapper">

    <resultMap id="baseMap" type="com.example.demo.business.user.entity.Role">
        <id column="ID" property="id"/>
        <result column="ROLE_NAME" property="roleName"/>
        <result column="ROLE_DESC" property="roleDesc"/>
        <result column="STATUS" property="status"/>
        <result column="IS_DELETE" property="isDelete"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <resultMap id="imgMap" type="com.example.demo.business.user.entity.Image">
        <id column="ID" property="id"/>
        <result column="URL" property="url"/>
        <result column="STATUS" property="status"/>
        <result column="USER_ID" property="userId"/>
        <result column="ORIGINAL" property="original"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>


    <resultMap id="userMap" type="com.example.demo.business.user.entity.UserVo">
        <id column="ID" property="id"/>
        <result column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="SNO" property="sno"/>
        <result column="PASSWORD" property="password"/>
        <result column="SEX" property="sex"/>
        <result column="AVATAR" property="avatar"/>
        <result column="PHONE" property="phone"/>
        <result column="EMAIL" property="email"/>
        <result column="SIGN" property="sign"/>
        <result column="STATUS" property="status"/>
        <result column="REG_ID" property="regIp"/>
        <result column="LOGIN_IP" property="loginIp"/>
        <result column="CLUB_ID" property="clubId"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <!--关联查询-->
        <collection property="role" column="ID" ofType="com.example.demo.business.user.entity.Role"
                    select="com.example.demo.business.user.mapper.RoleMapper.findRolesByUserId"/>
    </resultMap>
    <update id="updateCarousel" parameterType="com.example.demo.business.user.entity.Image">
        update image set
        <if test="url != null">
            `URL` = #{url},
        </if>
        <if test="status != null">
            `STATUS` = #{status},
        </if>
        <if test="original != null">
            `ORIGINAL` = #{original},
        </if>
        <if test="userId != null">
            `USER_ID` = #{userId},
        </if>
        <if test="updateTime != null">
            `UPDATE_TIME` = #{updateTime},
        </if>
        where ID = #{id}
    </update>
    <delete id="deleteCarousel">
        delete from image where id = #{id}
    </delete>


    <select id="getUserCount" resultType="java.lang.Integer">
        select count(1) from `user` where status = 0
    </select>
    <select id="getClubCount" resultType="java.lang.Integer">
        select count(1) from club where is_delete = 0
    </select>
    <select id="roleList" resultMap="baseMap">
        select *from role where is_delete = 0
    </select>
    <select id="getList" resultMap="userMap">
        select *from `user` where STATUS = 0
    </select>
    <select id="getActivityCount" resultType="java.lang.Integer">
        select count(1) from activity where is_delete = 0
    </select>
    <select id="loginLog" resultType="java.util.HashMap">
        select
        LOGIN_IP loginIp,
        REG_ID regIp
        from
        `user`
        where
        id = #{id}
    </select>


</mapper>