<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.business.user.mapper.ImageMapper">


    <resultMap id="baseMap" type="com.example.demo.business.user.entity.Image">
    <id property="id" column="ID"/>
    <result property="userId" column="USER_ID"/>
    <result property="url" column="URL"/>
    <result property="status" column="STATUS"/>
    <result property="createTime" column="CREATE_TIME"/>
    <result property="updateTime" column="UPDATE_TIME"/>
    <result property="original" column="ORIGINAL"/>
    </resultMap>
    <insert id="save">
        insert into image(
        ID,
        USER_ID,
        URL,
        STATUS,
        CREATE_TIME,
        UPDATE_TIME,
        ORIGINAL
        )values (
        #{id},
        #{userId},
        #{url},
        #{status},
        #{createTime},
        #{updateTime},
        #{original}
        )
    </insert>
</mapper>